@font-face
{
	font-family: german;
	src: url("../font/ABITE.ttf");
}

@font-face
{
	font-family: apple;
	src: url("../font/apple.ttf");
}

header{
	background: #333;
	height: 117px;
	opacity: 0.6;
}

body{
	background: url(../img/background3.jpg) no-repeat;
	background-size:100%;
}

pre{
	background: #333;
	font-family: german;
	margin: 0;
	color: #CCC;
	padding-top: 23px;
	font-size: 67px;
	text-align: center;
	height: 79px;
}

label{
	color: #FFF;
}

h2{
	font-family: apple;
	font-size: 79px;
	color: #FFF;
	text-align: right;
	margin: -36px 381px;
}


.form{
	padding-top: 20px;
	margin-left:auto!important;
	margin-right:auto!important;
	width: 580px;
}

.fleft{
	float: left;
}

.fright{
	float: right;
	margin-top: 130px;
}

#registrar{
	margin-left: 236px;
}